<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../css/cycModals.css">
    <link rel="stylesheet" href="../css/cycStyles.css">
</head>

<body>


    <div class="diag-back">
        <div class="diag-container">
            <div class="diag-body">
                <div class="diag-error">
                    <div class="diag-error-top">
                        <div class="diag-error-top-inner">
                            <div class="diag-error-x">
                                <div class="diag-error-check-ltb"></div>
                                <div class="diag-error-chech-lbt"></div>
                            </div>
                        </div>
                    </div>
                    <div class="diag-error-center">
                        <span class="diag-error-center-title">
                            Error
                        </span>
                        <p class="diag-error-center-msg">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Odit, doloribus magnam beatae, cumque facere possimus natus quis facilis, exercitationem
                            unde id sint. Inventore facilis accusamus quidem culpa totam reprehenderit sapiente.</p>
                    </div>
                    <div class="diag-error-bottom">
                        <button class="diag-error-btn">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>