<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../css/cycModals.css">
    <link rel="stylesheet" href="../css/cycStyles.css">
</head>

<body>


    <div class="diag-back">
        <div class="diag-container" style="min-width: 22em;">
            <div class="diag-body">
                <div class="diag-confirm">
                    <div class="diag-confirm-top">
                        <div class="diag-confirm-top-inner">
                            <div class="diag-confirm-x">
                                ?
                            </div>
                        </div>
                    </div>
                    <div class="diag-confirm-center">
                        <span class="diag-confirm-center-title">
                            ¿Are you sure?
                        </span>
                        <p class="diag-confirm-center-msg">Que desea continuar con esta operacion. Esto puede provocar problemas en un futuro</p>
                    </div>
                    <div class="diag-confirm-bottom">
                        <button class="diag-confirm-error-btn">Cancel</button>
                        <button class="diag-confirm-success-btn">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>