<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wait</title>
    <link rel="stylesheet" href="../css/cycModals.css">
    <link rel="stylesheet" href="../css/cycStylesFW.min.css">
</head>

<body>

    <div class="diag-back">
        <div class="diag-container-2">
            <div class="diag-body-2">
                <div class="diag-wait">
                    <div class="diag-wait-top">
                        <div id="temp" class="diag-wait-top-inner">
                            <div class="diag-wait-x">
                                <div class="diag-wait-check-ltb"></div>
                                <div class="diag-wait-chech-lbt"></div>
                            </div>
                        </div>
                    </div>
                    <div class="diag-wait-center">
                        <span class="diag-wait-center-title">
                            Un momento
                        </span>
                    </div>
                    <div class="diag-wait-bottom">
                        <div class="load-pg load-pg-accent"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>